.snakemake/
data/*

*.fa
*.fa.gz
*.fna
*.fna.gz

*.sig

#### sgc

bcalm*
*.bgz

contigs.indices
contigs.info.csv
contigs.mphf
cdbg.gxt
contigs.sizes
reads.bgz.index


commands.log
catlas.csv
contigs.fa.gz.info.csv
contigs.fa.gz.indices
contigs.fa.gz.mphf
first_doms.txt
reads.bgz.labels

*.reads.gz
*.response.txt
*.response.txt.gz
*.cdbg_ids.txt.gz
*.frontier.txt.gz